/* ProductList.css */

.product-list-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .product-list-title {
    color: #252626;
    font-size: 24px;
    margin-bottom: 16px;
  }

  
  .product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .product:hover {
    transform: scale(1.05);
  }
  
  .product-details {
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
  }
  
  .product-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  
  .edit-button,
  .delete-button {
    padding: 8px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .edit-button:hover {
    background-color: #2980b9;
  }
  
  .delete-button:hover {
    background-color: #e74c3c;
  }
  